.content { padding: 3em 0; }

.hidden { display: none; }
.hidden.active { display: block; }


@media screen and (max-width: $md) {
	
}

@media screen and (max-width: $sm) {
	
}

@media screen and (max-width: $xs) {
	
}

@media screen and (max-width: $xxs) {
	
}